/* ............
....all Font....
............... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}.justify{
    text-align: justify;
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.header{
    margin-left: 120px;
    margin-top: 87px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #3A3A3A;
}


.nav{
    margin-top: 110px;
    margin-right: 120px;
    display: flex;
    list-style: none;
}

.nav > li> a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 20px;
}

li{
    margin-left: 36px;
}

.left-side{
    margin-left: 120px;
    margin-top: 87px;
    width: 582px;
    height: 133px;
}

.button{
    background-color: #E02C6D;
    width: 25%;
    padding: 10px;
    border-radius: 25px;
}
.button > a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.button:hover{
    transform: scale(110%);
    box-shadow: 10px 10px 10px 5px #ee99b8;
}

/* icon colour */
.button> .fa-solid{
    color: white;
}

.right-side{
    margin-top: 80px;
    width: 440px;
    height: 414px;
    
}



