/* ............
....all Font....
............... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}.justify{
    text-align: justify;
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.header{
    display: inline-block;
    margin-left: 120px;
    margin-top: 87px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #3A3A3A;
}


.nav{
    margin-top: 110px;
    margin-right: 120px;
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 20px;
}

li{
    margin-left: 36px;
}



